body {
    min-width: 300px;
    margin: 30px auto;
    text-align: center;
    font-family: sans-serif;
    background-color: #006989;
    color: #E88D67;

}

header {
    width: 100%;
}
div {
    background-color: #006989;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

section {
    border-style: solid;
    border-radius: 15px;
    border-color: #E88D67;
    margin: 5px 5px;
    width: 300px;
    padding:  3px 10px;
    background-color: #F3F7EC;

}

.emoticon {
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: bold;
    margin: 10px 15px;
}

ol {
    text-align: left;
}