body {
    max-width: 500px;
    min-width: 300px;
    margin: 30px auto;
}

div {
    background-color: mediumslateblue;
    opacity: 0.8;
    padding: 10px;
    border-radius: 15px;
}

section {
    border-style: solid;
    border-radius: 15px;
}

h1, h2, p {
    text-align: center;
    font-family: sans-serif;
}

.emoticon {
    transform: rotate(90deg);
    font-size: 20px;
    font-weight: bold;
    margin: 10px 15px;
}